<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script>
    const ROOM_ID = "<%= roomId %>";
    const ROLE = "<%= role %>";
  </script>
  <script defer src="https://unpkg.com/peerjs@1.2.0/dist/peerjs.min.js"></script>
  <script src="/socket.io/socket.io.js" defer></script>
  <script src="/script.js" defer></script>
  <title>Document</title>
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    #video-grid {
      display: flex;
      align-items: flex-start
    }

    video {
      width:100%;
      height:auto;
    }

    #videos{
      width:25%;
    }
    #screen{
      width:75%;
    }

  </style>
</head>

<body>
  <div id="video-grid">
      <div id="screen"></div>
      <div id="videos"></div>
  </div>
</body>

</html>