<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script>
    const ROOM_ID = "<%= roomId %>";
    const ROLE = "<%= role %>";
  </script>
  <script defer src="https://unpkg.com/peerjs@1.2.0/dist/peerjs.min.js"></script>
  <script src="/socket.io/socket.io.js" defer></script>
  <script src="/script.js" defer></script>
  <title>Document</title>
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    #video-grid {
    /*display: grid;
      grid-template-columns: repeat(auto-fill, 25vw);
      grid-auto-rows: 25vw; */
      position: relative;
      width: 100%;
      padding-top: 56.25%;
    }

    video {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width:100%;
      height:100%;
    }
  </style>
</head>

<body>
  <div id="video-grid"></div>
</body>

</html>